.section {
    position: relative;
    min-height: 30vh;

    @include breakpoint($bp-xl) {
        font-size: 0.8em;
    }

    @include breakpoint($bp-sm) {
        font-size: 2.6vw;
    }

    h4 {
        font-size: 1.75em;
    }

    form {
        margin-top: 1em;

        & > *:not(:first-child) {
            margin-top: 1em;
        }

        input,
        button {
            width: 100%;
        }
    }
}

.table {
    table-layout: auto;
    width: 100%;

    td {
        vertical-align: middle;
    }
}
