.aside {
    position: sticky;
    top: 4.5em;
    width: $aside-width;
    border: 1px solid #ebebeb;
    border-radius: 1.25em;
    padding: 1em;
    min-height: 4em;

    &>*:not(:first-child) {
        margin-top: 0.5em;
    }

    @include breakpoint($bp-lg) {
        width: 100%;
        position: static;
        overflow: hidden;
        height: 0;
    }

    @include breakpoint($bp-sm) {
        font-size: 4vw;
        font-size: min(1rem, 4vw);
    }

    hr {
        display: block;
        height: 1px;
        border: none;
        background-color: #ebebeb;
        opacity: 1;
        margin-bottom: 0;
    }

    h5 {
        font-size: 1.4em;
    }

    &>*:first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0.5em;

        button {
            display: none;
            color: $color-primary;

            @include breakpoint($bp-lg) {
                display: block;
            }
        }
    }
}

.aside_open {
    height: auto;
}