.section {
    & article {
        width: 18.75em;
        margin: 0 auto;
    }

    @include breakpoint($bp-xxl) {

        & article {
            width: 16.75em;
        }
    }

    @include breakpoint($bp-xl) {
        font-size: .8em;

    }

    @include breakpoint($bp-lg) {
        font-size: .85em;
    }

    @include breakpoint($bp-sm) {
        font-size: 1em;


        & article {
            width: 100%;
            margin: 0 auto;
        }
    }

}