.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    flex-direction: column;

    &>* {
        text-align: center;
        max-width: 500px;
        margin-top: 2em;
        font-size: 1em;

        @include breakpoint($bp-sm) {
            max-width: 300px;
        }
    }

    img {
        width: auto;
    }

    a {
        color: #fff;
        background-color: $color-primary;
        display: block;
        padding: 1em 2em;
        border-radius: 2em;
    }

    h5 {
        font-size: 1.2em;
    }
}