@import './fonts.scss';

html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
    transition: color .3s ease;
}

.overflowed {
    overflow: hidden;
}

.beauty-underline {
    // position: relative;

    // &::before {
    //     // position: absolute;
    //     content: "";
    //     display: block;
    //     // width: 0;
    //     // left: 0;
    //     height: 50px;
    //     // bottom: -6px;
    //     // background: #83D477;
    //     background: $color-primary;
    //     box-shadow: 5px 0 4px $color-primary;
    //     // transform: translateX(-50%);
    //     // z-index: 1;

    //     transition: width .2s ease;
    //     transform-origin: center center;
    // }

    &:hover {
        &::before {
            width: 10px;
        }
    }
}

.note {
    color: $color-primary;
    font-size: 1.5em;
    font-weight: 700;
    padding: 1em;
    padding-left: 2.5em;

    background: url('../public/images/note.svg') no-repeat;
    background-position: left center;
    background-size: 2em;

    &-sm {
        font-size: 1.25em;
    }
}

@import './modal.scss';
@import './section.scss';
@import './slick.scss';
@import './breadcrumbs.scss';
@import './pagination.scss';
@import './tabs.scss';

#nprogress .bar {
    background: $color-primary;
    z-index: 2000;
}


::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: red;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: $color-primary;
    cursor: pointer;
    border-radius: 3px;
    opacity: .5;
}